.cards__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 21px;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}
