.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  border: 1px solid;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  background: transparent;
  position: absolute;
  top: 22px;
  right: 28px;
  border: none;
  width: 100%;
  padding: 0;
  max-width: 16px;
  max-height: 16px;
  cursor: pointer;
}

.modal__content {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 38px;
  max-width: 496px;
  max-height: 436px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  margin-top: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  gap: 32px;
}

.modal__input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.modal__input:last-of-type {
  margin-bottom: 0;
  padding: 0;
}

.modal__legend {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 12px;
}

.modal__label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
}

.modal__label_type_radio {
  color: #00000080;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0 0 24px;
}

.modal__radio-input {
  width: 16;
  height: 16;
  margin: 0;
  top: 507px;
  left: 500px;
  border-width: 1px;
  margin-right: 10px;
}

.modal__radio-input:checked + span {
  color: #000000;
}

.modal__submit {
  background-color: #0000004d;
  color: #fff;
  margin-top: -45px;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  font: "Cabinet Grotesk" sans-serif;
  cursor: pointer;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:active {
  background-color: #000000;
}

.modal__switch-btn {
  width: 164;
  height: 36;
  top: 491px;
  left: 500px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 4px;
}

.email__label,
.password__label {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  border: none;
}

.modal__input,
.email__input,
.password__input {
  width: 440px;
  height: 24px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
}

.modal__title {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;

  line-height: 20px;
  letter-spacing: 0%;
}

.modal__action {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 1px;
}

.modal__switch-btn {
  width: 164px;
  height: 36px;
  top: 491px;
  left: 500px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.modal__submit,
.modal__switch-btn {
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 1;
  height: 36px;
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
}
.modal__submit {
  cursor: pointer;
  background-color: #000000;
}

.modal__submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.header__login-btn {
  border: none;
  cursor: pointer;
}
