.toggle-switch {
  width: 56px;
  height: 28px;
  margin-left: 650px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: 0; /* In position of the lablel because of the "position:relativ"e css class in toggle-switch (keeps it in the parent class)*/
  transition: 0.4s;
}

.toggle-switch__text {
  font-family: "Cabinet Grotesk", sans-serif;
  color: #7e7e7e;
  position: absolute;
  top: 5px;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

/*So when this element is checked (toggle-switch__checkbox:checked) any siblings 
("~" sibling symbol) that have this class (toggle-switch__circle), we are applying these styles) */

/*Making the toggle switch "F" or "C" white when switched on it */
.toggle-switch__text_color_white {
  color: white;
}
