.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 40px;
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 55px;
}

.footer__text {
  font-family: "Cabinet Grotesk" sans-serif;
  margin: 0;
}

.footer__text_year {
  margin: 0;
}
