.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__logo {
  height: 40px;
  width: 89px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin: 0 20px 0 auto;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
  cursor: pointer;
  background-color: #f3f3f3;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__avatar {
  width: 40px;
  height: 40px;
  left: 1320px;
  border-width: 1px;
}

.header__link {
  text-decoration: none;
  color: #000000;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.header__register-btn,
.header__login-btn,
.header__logout-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.header__right-section {
  display: flex;
  align-items: center;
  gap: 20px; /* Controls spacing between all right-side elements */
  margin-left: auto;
}
