.weather-card {
  font-family: "Cabinet Grotesk", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  position: absolute;
  vertical-align: middle;
  line-height: 40px;
  margin: 0;
  position: absolute; /*will shift the 75 degree down into the image*/
  top: 20px;
  left: 16px;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top; /*keeps the sun in the right top corner*/
  width: 100%; /*tells the image to not be more than 100% */
}
