.sidebar {
  width: 229px;
  height: 56px;
  top: 119px;
  left: 40px;
  border-width: 1px;
}

.sidebar__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  top: 119px;
  left: 40px;
  border-width: 1px;
}

.sidebar__name {
  font-size: 20px;
}

.sidebar__edit-btn,
.sidebar__logout-btn {
  background: none;
  border: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  opacity: 1;
  padding: 0;
  margin-bottom: 8px;
  cursor: pointer;
}
